<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <%= link_to defined?(root_path) ? root_path : "#", class: "navbar-brand" do %>
      <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
      Watto's Spaceship Emporium
    <% end %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
