<div class="product item col-xs-4 col-lg-4 grid-group-item">
  <div class="thumbnail">
    <img src="/images/stock/TIE_Fighter_Render.png" alt="" class="group list-group-image">
    <div class="caption">
      <h4 class="group inner list-group-item-heading">
        Product 1
      </h4>
    </div>
  </div>
</div>