<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @product.name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <%#= image_tag @product.main_image_url, class: 'main_image' %>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <%= render partial: 'images', locals: { image_urls: @product.image_urls } %>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <h2>
          Tech Specs
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= @product.tech_specs_as_dictionary_list %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          Buy
        </button>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <%= link_to root_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">&nbsp;</span>
      Continue Shopping
    <% end %>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">You want to buy?</h4>
      </div>
      <div class="modal-body">
        <p>You should buy!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="alert('Ok ok, you bought it.')">I'll buy!</button>
      </div>
    </div>
  </div>
</div>
